<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!loading && posts.length === 0" class="empty">
  Brak postów użytkownika.
</div>

<div class="posts-grid">
  <div *ngFor="let post of posts" class="post-card">
    <img  [src]="post.photoUrl" alt="post image" />

    <div class="post-overlay">
      <div class="post-info">
        <p>{{ post.createdAt }}</p>
        <p>{{post.description}}</p>
        <p class="location">
           {{ post.locationName }}
        </p>
      </div>

      <button class="edit-btn">Edytuj</button>
    </div>
  </div>
</div>
