<div class="expenses-page">
  <div class="header h1">
    <div class="form-header">
      <p>Dodawaj wydatki i śledź historię eksploatacji auta.</p>
    </div>
    <div class="form-col">
      <section>
      <app-expenses-costs
        [totalCost]="totalCost"
        [(filterFrom)]="filterFrom"
        [(filterTo)]="filterTo"
        [totalCount]="filteredExpenses.length"
        [vehicles]="vehicles"
        [selectedVehicleId]="selectedVehicleId"
        (vehicleChange)="onVehicleSelected($event)">
      </app-expenses-costs>
      </section>
    </div>
  </div>
  <div class="grid">
    <section class="card">
      <h3>Dodaj koszt</h3>
      <div class="form-row">
        <label>Data</label>
        <input type="date" [(ngModel)]="newExpense.date">
      </div>
      <div class="form-row">
        <label>Kategoria</label>
        <select [(ngModel)]="newExpense.category">
          <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
          <option [value]="1">sadasd</option>
        </select>
      </div>
      <div class="form-row">
        <label>Opis</label>
        <input type="text" placeholder="Np. Wymiana zderzaka" [(ngModel)]="newExpense.title">
      </div>
      <div class="form-row">
        <label>Koszt (PLN)</label>
        <input type="number" min="0" step="0.01" [(ngModel)]="newExpense.cost">
      </div>
      <div class="form-row">
        <label>Opis (opcjonalnie)</label>
        <textarea rows="3" [(ngModel)]="newExpense.description"></textarea>
      </div>
      <button class="primary" (click)="addExpense()">Dodaj</button>
    </section>

    <section class="card list-card">

      <app-expenses-list
        [expenses]="filteredExpenses"
        (remove)="removeExpense($event.toString())">
      </app-expenses-list>
    </section>
</div>
