.container {
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #f3f4f6;
  padding: 20px;
  border-radius: 8px;
}

.auth-navigation {
  margin-bottom: 20px;
}

.auth-navigation button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2b99d2;
  color: white;

}
.auth-navigation button:active {
  background-color: #5cb85c;
  font-weight: bold;
}
.auth-navigation button:hover {
  background-color: #217088;
}
