<div class="grid">
<div class="card">
  <div class="photo">
    <img *ngIf="vehicle?.imageUrl" class="thumb" [src]="vehicle?.imageUrl" alt="photo" (click)="openImage()">
    <span *ngIf="!vehicle?.imageUrl">Foto</span>
  </div>

  <div class="title">
    {{ vehicle?.mark }} {{ vehicle?.model }}
  </div>

  <div class="meta">
    <div><strong>VIN:</strong> {{ vehicle?.vin || '—' }}</div>
    <div><strong>Rok:</strong> {{ vehicle?.year }}</div>
    <div><strong>Moc:</strong> {{ vehicle?.horsePower }} KM</div>
    <div><strong>Pojemność:</strong> {{ vehicle?.engineCapacity }} L</div>
<!--    <div><strong>Paliwo:</strong> {{ getfuelLabel() }}</div>-->
    <div><strong>Przebieg:</strong> {{ vehicle?.mileage || '—' }} km</div>
  </div>

  <div class="extras">
    <div><strong>Przegląd:</strong> {{vehicle?.dateInspection | date:'dd.MM.yyyy'}} </div>
    <div><strong>Ubezpieczenie:</strong> {{vehicle?.dateInsurance | date:'dd.MM.yyyy'}}</div>
  </div>
</div>
<app-expenses-list
  [expenses]="expenses"
  (remove)="removeExpense($event.toString())">
</app-expenses-list>
</div>


<app-image-lightbox
  [url]="activeImageUrl"
  (close)="closeImage()">
</app-image-lightbox>
