<div class="details-page">
  <div *ngIf="loading" class="state">Ładowanie wydarzenia...</div>

  <div *ngIf="!loading && error" class="state error">
    {{ error }}
  </div>

  <div *ngIf="!loading && event" class="details-card">
    <div class="hero" *ngIf="event.photoUrl">
      <img [src]="event.photoUrl" alt="Zdjęcie wydarzenia">
    </div>

    <div class="header">
      <div>
        <h2>{{ event.title }}</h2>
        <p class="subtitle">{{ event.location }}</p>
      </div>
      <div *ngIf="owner">
        <h2>Autor</h2>
        <p class="subtitle">{{owner}}</p>
      </div>

      <div class="actions">
        <button class="ghost" (click)="back()">Wróć</button>
        <button
          *ngIf="event && !event.isParticipant"
          class="primary"
          (click)="join()">
          Weź udział
        </button>

        <button
          *ngIf="event && event.isParticipant"
          class="ghost"
          (click)="leave()">
          Bierzesz udział
        </button>
      </div>
    </div>

    <div class="meta-grid">
      <div class="meta-item">
        <span>Data</span>
        <strong>{{ toDateDisplay(event.date) }}</strong>
      </div>

      <div class="meta-item">
        <span>Miejsce</span>
        <strong>{{ event.location }}</strong>
      </div>

      <div class="meta-item">
        <span>Typ</span>
        <strong>{{ toEventTypeLabel(event.type) }}</strong>
      </div>

      <div class="meta-item">
        <span>Widoczność</span>
        <strong>{{ toVisibilityLabel(event.visibility) }}</strong>
      </div>

      <div class="meta-item">
        <span>Uczestnicy</span>
        <strong>{{ event.participantsCount }}/{{ event.maxCountParticipants }}</strong>
      </div>

      <div class="meta-item">
        <span>Kategoria</span>
        <strong>{{ toEventCategoryName(event.category) }}</strong>
      </div>
    </div>

    <div class="description">
      <h3>Opis</h3>
      <p>{{ event.description }}</p>
    </div>
    <app-event-map
      *ngIf="event.latitude != null && event.longitude != null"
      [latitude]="event.latitude"
      [longitude]="event.longitude"
      [location]="event.location">
    </app-event-map>

    <div *ngIf="event.latitude == null || event.longitude == null" class="empty">
      Brak lokalizacji wydarzenia.
    </div>
    <div class="participants">
      <h3>Uczestnicy</h3>

      <div *ngIf="participants.length === 0" class="empty">
        Brak uczestników.
      </div>

      <div class="participants-grid" *ngIf="participants.length > 0">
        <div class="participant-card" *ngFor="let participant of participants">
          <img
            *ngIf="participant.avatarUrl"
            [src]="participant.avatarUrl"
            alt="Avatar uczestnika"
          >
          <div>
            <strong>{{ participant.name }} {{ participant.surname }}</strong>
            <p>{{ participant.userName }}</p>
            <span *ngIf="participant.baseLocation">{{ participant.baseLocation }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="creator" *ngIf="event.creator">
      <h3>Organizator</h3>
      <div class="creator-box">
        <img *ngIf="event.creator.avatarUrl" [src]="event.creator.avatarUrl" alt="Avatar organizatora">
        <div>
          <strong>{{ event.creator.name }} {{ event.creator.surname }}</strong>
          <p>ID: {{ event.creator.id }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
