
<div class="filters">
  <div class="form-row">
    <label>Od</label>
    <input type="date" [ngModel]="filterFrom" (ngModelChange)="filterFromChange.emit($event)">
    <label>Do</label>
    <input type="date" [ngModel]="filterTo" (ngModelChange)="filterToChange.emit($event)">
    </div>
    <div class="form-row">
      <div class="class col">
        <h3> Suma napraw:  {{ totalCount }} </h3>
      </div>
    </div>
    <div class="form-row">
      <span>Suma wydatków</span>
      <strong>{{ totalCost.toFixed(2) }} PLN</strong>
    </div>

  <div class="form-col">
    <label>Pojazd</label>
    <select [ngModel]="selectedVehicleId" (ngModelChange)="onVehicleChange($event)">
      <option *ngFor="let v of vehicles" [value]="v.id">
        {{ v.mark }} {{ v.model }}
      </option>
    </select>
  </div>
</div>
